body{
   background-color: #B9FFF8;
}

h1 {
  color: #4C0033;
 }

 h3{
   color: #4C0033;
 }
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: red;
  border-width: 5px;
  width:5%
}
